body {
  background-color: lightpink;
}
h1 {
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
}
p {
  font-family: cursive,sans-serif, Comic Sans MS;
  font-size: 1px;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: auto;
  text-align: left;
}
a {
  color: rgb(0,0,0);

p1 {
  font-family: Comic San MS,cursive,sans-serif;
  font-size: 1px;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: auto;
  text-align: right;
  }

div.contrast{
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  display: flow-root;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.contrast{
  ...
}

.lead {
  font-family: times new roman;
  font-size:36px;
  font-size:3.6rem;
  line-height: 1;
  margin-top: 40;
  margin-bottom: 40;
  text-align: center;
}

}
img{
  ...
}

ol{
  /*line-style: none;*/
  padding: 0;
  margin-bottom: 10%;
  font-size: 1em;
  /*display: flex;*/
  /*justify-content:space-between;*/
  list-style: disc;
}

.show{
  font-family: times new roman;
font-size:24px;
font-size:2.4rem;
line-height: 1;
margin-top: 40;
margin-bottom: 40;
text-align: center;
}

.video{
text-align: center;
}

/* Three images containers (use 25% for four, and 50% for two, etc) */
.column{
  float: left;
  width: 29%;
  padding: 5px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.hover {
  position: relative;
  width: 50%;
}
.resp {
  opacity: 1;
  display: block;
  width: 70%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover:hover .resp {
  opacity: 0.3;
}

.hover:hover .middle {
  opacity: 1;
}

.text {
  background-color: #af4c8f;
  color: white;
  font-size: 17px;
  padding: 17px 32px;
}
